html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    padding-top: 10px;
}

h1.logo {
    padding-top: 10px;
    padding-bottom: 10px;
}

ul {
    padding-top: 20px;
}