<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- specific template to add css onto a form-flask application -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FileServer · Drg</title>
</head>
<body>
    <h1 class="title">File Server Drg</h1>
    
    <!-- form file submit -->
    <form method='POST' enctype='multipart/form-data'>
        {{form.hidden_tag()}}
        {{form.file()}}
        {{form.submit()}}
    </form>

    <!-- file listing -->
    <ul>
        {% for file in files %}
        <li>
            <a href="{{ (request.path + '/' if request.path != '/' else '') + file }}">
                <!-- {{ (request.path + '/' if request.path != '/' else '') + file }} -->
                {{ file }}
            </a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>