<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Cloud</title>
    
</head>
<body>

    <h1>Home Cloud</h1>

    <!-- Storage Path Selection -->
    <h2>Set storage path</h2>
    <p>Current Storage Path: <span id="current-path", style="font-style: italic;">{{ storage_path }}</span></p>
    <form id="manual-path-form">
        <input type="text" id="manual-path" placeholder="Enter storage path">
        <button type="submit">Set Path</button>
    </form>

    <!-- Upload Files Form -->
    <br>
    <h3>Upload Files</h3>
    <form method="POST" enctype="multipart/form-data">
        {{ upload_form.hidden_tag() }}
        {{ upload_form.file.label }} {{ upload_form.file() }}
        {{ upload_form.submit() }}
    </form>

    <br>
    <h3>Download all items stored in the Home-Cloud</h3>

    <!-- Download All Button -->
    <form action="{{ url_for('download_all', req_path=current_path) }}" method="get">
        <button type="submit">Download All</button>
    </form>

    <br>
    <h3>Current Directory: {{ current_path }}</h3>

    {% if current_path %}
        <a href="{{ url_for('home', req_path=parent_path) }}">⬆️ Go Back</a>
    {% endif %}

    <div class="grid-container">
        {% for file in files %}
            <div class="grid-item">
                {% set file_ext = file.split('.')[-1].lower() %}
                
                {% if '.' not in file %}
                    <a href="{{ url_for('home', req_path=current_path + '/' + file) }}">
                        <img src="{{ url_for('static', filename='folder-icon.png') }}" alt="Folder" class="folder-icon">
                    </a>
                    <span class="file-name">{{ file }}</span>
                
                {% elif file_ext in ['png', 'jpg', 'jpeg', 'gif'] %}
                    <a href="{{ url_for('home', req_path=current_path + '/' + file) }}" download>
                        <!-- 
                        <img src="{{ url_for('static', filename='uploads/' + current_path + '/' + file) }}" alt="{{ file }}"> 
                         -->
                        <img src="{{ url_for('static', filename='uploads/' + file) }}" alt="{{ file }}" width="100">
                    </a>
                    <span class="file-name">{{ file }}</span>
                
                {% else %}
                    <a class="file-name", href="{{ url_for('home', req_path=current_path + '/' + file) }}" download>📄 {{ file }}</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <!-- Link to External JS -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
